<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <title>Add Review | Best Cars Dealership</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>    
    </head>

    <body>
    <nav class="navbar navbar-expand-lg bg-light">   
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" disabled>Best Cars Dealership</a>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav nav-pills mr-auto mt-2 mt-lg-0"">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'djangoapp:index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'djangoapp:about' %}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0" action="{% url 'djangoapp:login' %}" method="post">
            {% if user.is_authenticated %}
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" disabled">{{user.username}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-danger" href="{% url 'djangoapp:logout' %}">Logout</a>
                    </li>
                </ul>
            {% else %}
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Username" name="username" >
                    <input type="password" class="form-control" placeholder="Password" name="password" >
                    <button class="btn btn-primary ml-1" type="submit">Login</button>
                    <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                </div>
            {% endif %}
            </form>
        </div>         
    </nav>
    

    <div class="container-fluid">
        <div class="row my-3 mx-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        {{dealer_name}}
                    </div>
                    <div class="card-body">
                        <form class="form-group" action="{% url 'djangoapp:add_review' dealer_id %}"  method="post">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label for="review" class="col-sm-2 col-form-label">Review</label>
                                <div class="col-sm-10 mt-2">
                                    <textarea class="form-control" style="min-height: 5em;" id="review" name="review" rows="5" required placeholder="Review"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="puchase" class="col-sm-2 col-form-label">Purchased car here?</label>
                                <div class="col-sm-10 mt-2 custom-control custom-switch">
                                    <input class="form-check-input" type="checkbox" data-toggle="collapse" data-target="#collapsePurchase" name="purchase" id="purchase" aria-expanded="false" aria-controls="collapsePurchase">
                                </div>
                            </div>

                            <div class="collapse" id="collapsePurchase">
                                <div class="form-group row">
                                    <label for="car_purchased" class="col-sm-2 col-form-label">Car purchased</label>
                                    {% if cars %}
                                    <div class="col-sm-10 mt-2">
                                        <select name="car_purchased" id="car_purchased" class="form-select" required>
                                            {% for car in cars %}
                                                <option selected value="{{car.make.name}}-{{car.name}}-{{ car.year|date:'Y' }}">{{car.make.name}} {{car.name}} ({{ car.year|date:"Y" }})</option>
                                            {% endfor %}
                                        </select>  
                                    </div>
                                    {% else %}
                                    <div class="col-sm-10 mt-2">
                                        <p class="text-muted">No cars registered at this dealership</p>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="form-group row">
                                    <label for="purchase_date" class="col-sm-2 col-form-label">Purchase date</label>
                                    <div class="col-sm-10 mt-2">
                                        <input class="form-control" type="date" name="purchase_date" id="purchase_date"> 
                                    </div>
                                </div>
                            </div>
                            
                            <button class="btn btn-primary mt-3" type="submit">Add review</button>  
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    </body>

</html>
